@import "../../../scss/mixins";

@import "../../../scss/variables";

$login-width: 300px;

.authPage {
  height: 100%;
  @include center;
}

.authorizationWrapper {
  width: $login-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  box-shadow: 0 0 6px rgba($color-black, 0.14);
  border-radius: $border-radius-m;

  padding: $offset-m;
}

.inputField {
  margin-bottom: $offset-l;
}

.header {
  margin-bottom: 60px;
}
