@import "src/scss/variables";

@import "src/scss/mixins";

$avatar-size: 36px;

.chats-page {
  display: grid;
  height: 100%;
  grid-template-areas:
    "profile chat-header"
    "search chat"
    "list chat"
    "list message-actions";
  grid-template-rows: 52px 40px 1fr;
  grid-template-columns: 2fr 3fr;
  background-color: $color-white;

  > .chat-header {
    grid-area: chat-header;
    border-bottom: 1px solid $color-card-border;
    margin: 0 $offset-s;
    display: flex;
    flex-direction: row;
    align-items: center;

    > .user-name {
      margin-right: auto;
    }

    > .user-avatar {

      @include size($avatar-size);
      flex: $avatar-size 0 0;
      border-radius: 100%;
      margin-right: $offset-m;

      &.-stub {
        background-color: $color-avatar-bg;
      }
    }
  }

  > .message-actions {
    grid-area: message-actions;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: $offset-s;
    margin: 0 $offset-s;
    padding: $offset-s 0;
    border-top: 1px solid $color-card-border;
  }

  > .edit-profile {
    grid-area: profile;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: $color-light-bg;

    > .profile-link {

      @include text($color-text-dark);
      text-decoration: none;
    }
  }

  > .list {
    grid-area: list;
    overflow: auto;
    background-color: $color-light-bg;
  }

  > .selected-chat {
    grid-area: chat;
    overflow: auto;
    background-color: $color-white;
  }

  > .list-actions {
    display: flex;
    flex-direction: row;
    grid-area: search;
    height: 24px;

    > .search-field {
      flex-grow: 1;
      margin: 0 $offset-s 0 $offset-m;
    }

    > .button {

      @include size(32px);
      font-size: 18px;
      font-weight: normal;
      flex-grow: 0;
    }
  }
}
