@import "src/scss/variables";
@import "src/scss/mixins";

$flex-basis: 50px;
$avatar-size: 36px;

.chat-preview {
  display: flex;
  flex-direction: row;
  padding: $offset-s;
  border-top: 1px solid $color-card-border;

  > .user-avatar {
    @include size($avatar-size);
    flex: $avatar-size 0 0;
    border-radius: 100%;
    margin-right: $offset-m;

    &.-stub {
      background-color: $color-avatar-bg;
    }
  }

  > .message-content {
    flex-grow: 1;

    > .author {
      @include title;
      padding-bottom: $offset-m;
    }

    > .last-message {
      @include ellipsis;
    }
  }

  > .info {
    flex: $flex-basis 0 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    > .unread-count {
      @include text($color-white, $font-size-s);
      @include size(16px);
      @include center();
      border-radius: 100px;
      background-color: $color-red;
    }
  }
}
