@import "src/scss/mixins";
@import "src/scss/variables";

$form-max-width: 400px;

.profile-page {
  height: 100%;
}

.profile-form {
  @include center;
  max-width: $form-max-width;
  flex-direction: column;
  margin: auto;
  height: 100%;
  --overlay-color: transparent;

  > .input-field {
    margin-bottom: $offset-l;
  }

  > .name {
    @include text-bold($color-black);
    margin-bottom: $offset-xl;
  }
}

.edit-avatar {
  position: relative;
  margin-bottom: $offset-l;

  > .image,
  &:after {
    @include size(130px);
    border-radius: 100%;
  }

  > .input {
    display: none;
  }

  &:hover:after {
    opacity: 1;
  }

  &:after {
    opacity: 0;
    cursor: pointer;
    background-color: transparentize($color-black, 0.5);
    content: "Поменять аватар";
    text-align: center;
    color: $color-text-light;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }
}
.profile-actions {
  width: 100%;

  > .action + .action {
    border-top: 1px solid $color-card-border;
  }
}
