@import "src/scss/variables";
@import "src/scss/mixins";

.error-page {
  @include center;
  flex-direction: column;
  height: 100%;

  > .code {
    @include title;
    font-size: 60px;
    margin-bottom: $offset-l;
  }

  > .text {
    @include text($color-text-dark, $font-size-l);
    margin-bottom: $offset-m;

    > .link {
      margin-top: $offset-m;
      display: inline-block;
      color: $color-tangerine;
      text-decoration: none;
    }
  }
}
