$color-tangerine: #f39c6b;
$color-red: #ff3864;
$color-misty-rose: #ecd8d5;
$color-violet: #261447;
$color-sage: #c0bda5;

$color-light-bg: #fbfbfb;
$color-card-bg: #f7f7f7;
$color-avatar-bg: #efefef;
$color-card-border: transparentize(#4e4e4c, 0.7);

$color-black: #000;
$color-white: #fff;

$color-text-light: #f7f7f7;
$color-text-grey: #777;
$color-text-dark: #333;

$font-size-xs: 8px;
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 18px;

$border-radius-sm: 8px;
$border-radius-m: 8px;

$offset-xs: 4px;
$offset-s: 8px;
$offset-m: 16px;
$offset-l: 32px;
$offset-xl: 64px;
